<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UiPathCodeVisualization.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UiPathCodeVisualization.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1909" newVersion="8.0.0.1909" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism.Wpf" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1909" newVersion="8.0.0.1909" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.8.0" newVersion="5.11.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <UiPathCodeVisualization.Properties.Settings>
      <setting name="AvtivityLv5" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="AvtivityLv4" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="AvtivityLv3" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="AvtivityLv2" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="AvtivityLv1" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="VariableLv5" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="VariableLv4" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="VariableLv3" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="VariableLv2" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="VariableLv1" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="Default_ActivityLv4" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="Default_ActivityLv3" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="Default_ActivityLv2" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="Default_ActivityLv1" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Default_VariableLv5" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Default_VariableLv4" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Default_VariableLv3" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="Default_VariableLv2" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="Default_VariableLv1" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ComplexityLv5" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ComplexityLv4" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="ComplexityLv3" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="ComplexityLv2" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="ComplexityLv1" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Default_ComplexityLv5" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="Default_ComplexityLv4" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="Default_ComplexityLv3" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="Default_ComplexityLv2" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="Default_ComplexityLv1" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="DepthLv5" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DepthLv4" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DepthLv3" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="DepthLv2" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="DepthLv1" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="Default_DepthLv5" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Default_DepthLv4" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Default_DepthLv3" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="Default_DepthLv2" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="Default_DepthLv1" serializeAs="String">
        <value>11</value>
      </setting>
    </UiPathCodeVisualization.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <UiPathCodeVisualization.Properties.Settings>
      <setting name="Default_ActivityLv5" serializeAs="String">
        <value>20</value>
      </setting>
    </UiPathCodeVisualization.Properties.Settings>
  </applicationSettings>
</configuration>